extends ../layout

block content
	h2 Курсы
	each block in blocks
		div.block
			b= block.title
			- var courses = block.courses
			each course in courses
				br
				br
				a(href='/course/' + block._id + '/' + course._id)= course.title
		br